stages:
    - build 
    - deploy
    - checklog

build:
    stage: build
    variables:
        GIT_STRATEGY: clone
    artifacts:             
        paths:
            - dist/
        expire_in: 1 hour
    script:
        - whoami
        - pwd
        - ls
        - npm i --force
        - ng build --configuration=production
    tags:
        - ubuntu_frontend

deploy:
    stage: deploy
    variables:
        GIT_STRATEGY: none
    script:
        - sudo cp -r dist/logictic-app-frontend/ /datas/appfrontend-logistics
        - sudo chown frontend:frontend /datas/appfrontend-logistics
        - sudo su frontend -c "cd /datas/appfrontend-logistics/logictic-app-frontend/browser; ls -l "
    dependencies:           
        - build
    tags:
        - ubuntu_frontend    

