stages:
    - build 
    - deploy
    - checklog

build:
    stage: build
    variables:
        GIT_STRATEGY: clone
    script:
        - whoami
        - pwd
        - ls
        - npm i --force
        - ng build --configuration=production
    tags:
        - ubuntu_frontend

